<p>users works!</p>

<!-- firstNameUpdated eventi kendi tanımladığımız bir event -->
<ba-user [firstName]="'Harun'" [lastName]="'Durak'" 
(firstNameUpdated)="showMessage($event)"></ba-user>
<ba-user [firstName]="'Erhan'" [lastName]="'Mert'"></ba-user>
<ba-user [firstName]="'Sidar'" [lastName]="'Şahin'"></ba-user>
<ba-user [firstName]="'Burhan'" [lastName]="'Kara'"></ba-user>
<ba-user [firstName]="'Ayşegül'" [lastName]="'Avcı'"></ba-user>


<ba-button></ba-button>
<ba-button [color]="'green'" [title]="'bigButton'" [bgColor]="'pink'"></ba-button>
<ba-button [color]="'blue'" [title]="'button2'" [bgColor]="'yellow'"></ba-button>

<ba-button [styles]="{'color':'yellow', 'background-color':'purple'}"></ba-button>
<ba-button [styles]="{'color':'white', 'background-color':'darkblue','font-size':'24px','padding':'5px','border-radius':'5px'}"></ba-button>
