
<!-- router outlet ise ReactJs uygulamalarında Outlet karşılığıdır. Route üzerinden sayfa geçişi yapırken bu sayfaların dinamik olarak yüklenmesini bu arakadaş sağlar.  -->

<!-- App Js dosyasını layout gibi kullanıyoruz. Tüm uygulama bu sayfa üzerinden başka sayfalara yönlenerek çalışıyor. -->

<!-- routerLinkleri ise / ile kullanıyoruz -->
<a routerLink="/home">Anasayfa</a>
<a routerLink="/about">Hakkımızda</a>

<!-- routerLink angular uygulamalarında sayfalar arası link özelliği gösterir -->
<!-- reactjs deki Link componentine benzer -->

<router-outlet></router-outlet>
